body {
    margin: 0;
}

#grad1 {
    height: 100%;
    background-image: linear-gradient(to right, #9b9b9b00, rgba(190, 187, 187, 0.692));
}

.thumbnails img {
    height: 80px;
    border: 4px solid rgb(255, 255, 255);
    padding: 1px;
    margin: 0 10px 10px 0;
}

.thumbnails img:hover {
    border: 4px solid #828282;
    cursor:pointer;
}

.preview img {
    border: 4px solid rgb(255, 255, 255);
    padding: 1px;
    width: 800px;
}