* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-family: 'Raleway', sans-serif;
  }

/* #grad1 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #9b9b9b00, rgba(163, 159, 159, 0.692));
    background-position:center;
} */

.container {
    width: 1000px;
    height: 400px;
    position: relative;
    display: flex;
    border: black solid 2px;
    align-items: center;
    justify-content: space-around;
}


#prv-btn {
    height: 20px;
    width: fit-content;
}

#nxt-btn {
    transform: rotate(90deg);
    height: 20px;
    width: fit-content;
}

img {
    width: 900px;
    height: 400px;
    object-fit: cover;
    display: block;
}

h1 {
    font-size: 32px;
}

#imgtext {
    position: absolute;
    width: 900px;
    height: 150px;
    bottom: 0px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.658);
    text-align: left;
    padding: 15px;
  }